@page "/bai-viet/san-pham"
@model CMS.Website.Pages.Article.BaivietsanphamModel
@{
    Layout = "~/Pages/Shared/_LayoutArticle.cshtml";
}

    <h1>Sản phẩm</h1>
    <p align="center">
        <strong>Thân gửi quý khách hàng!</strong>
    </p>
    <p align="center">
        &nbsp;
    </p>
    <p>
        Cảm ơn quý khách đã chọn sử dụng sản phẩm máy lọc nước của chúng tôi!
    </p>
    <p>
        Trước khi bạn sử dụng máy lọc nước, việc đọc ký hướng dẫn sẽ giúp bạn sử dụng sản phẩm đúng cách hợp lý hơn và giúp các sản phẩm của chúng tôi có thể cung cấp cho bạn dịch vụ hiệu quả nhất.
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <strong><em>Rất mong nhận được phản hồi và ý kiến đóng góp của quý khách về sản phẩm</em></strong>
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <strong><em>Chú ý:</em></strong>
    </p>
    <p>
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hình ảnh được sử dụng trong hướng dẫn chỉ mang tính chất tham khảo
    </p>
    <p>
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nếu sản phẩm có bất cứ thay đổi nào về công nghệ, hình dạng bề ngoài hay màu sắc, chúng tôi có thể trả về mà không cần báo trước
    </p>
    <p>
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Công thông số kỹ thuật đã được kiểm tra cẩn thận, nếu có một lỗi in hoặc sự nhầm lẫn về nội dung, công ty có quyền đính chính cuối cùng.
    </p>
    <p>
        &nbsp;
    </p>
    <p style="margin-left:25.1pt;">
        <strong>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><em>Chỉ số kỹ thuật</em></strong>
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chế độ uống: Nước ấm
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nguồn điện: AC 220V – 50Hz
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mức nhiệt độ đun nóng: ≥90ᵒC
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nước nóng chảy: ≥ 1.0L/phút
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Khả năng đun nóng: 5L/h – Áp lực đầu vào: 0.1 – 0.4Mpa
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Công suất đun nóng: 540W
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bảo vệ chống giật điện: Phân loại chuyển động hạng 1
    </p>
    <p style="margin-left:54.0pt;">
        &nbsp;
    </p>
    <p style="margin-left:25.1pt;">
        <strong>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><em>Công nghệ lõi lọc</em></strong>
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nguyên lý của màng lọc RO
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Water inlet: Nước vào
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Raw water sealing ring: Đai bịt kín nước đầu vào
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Condensed water channel: Rãnh tập trung nước
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Membrane surface: Bề mặt màng
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Diaphragm support layer: Lớp màng chắn hỗ trợ
    </p>
    <p style="margin-left:54.0pt;">
        &nbsp;
    </p>
    <p style="margin-left:25.1pt;">
        <strong>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><em>Những nét đặc trưng của sản phẩm</em></strong>
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thiết kế hợp thời trang: Thiết kế dánh thuôn mang đậm xa hướng hiện đại, kiểu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dáng hợp thời trang, là điểm nhấn trong không gian gia đình bạn.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Loại bỏ tạp chất: Cơ chế lọc vật lý với độ chính xác cao. Loại bỏ ion canxi và mage trong nước, đảm bảo độ tinh khiết của nước uống. Từ đó giúp bạn tránh khỏi những vấn đề rắc rối về tạp chất.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thanh lọc đa chiều: Lọc qua nhiều lớp, bảo vệ toàn diện, chăm sóc toàn diện, lọc đa chiều, bảo vệ cho sức khỏe gia đình nhiều cấp lọc, bảo vệ sức khỏe cho gia đình bạn.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lọc kim loại nặng: Loại bỏ hiệu quả các kim loại nặng trong nước, bảo vệ nguồn nước sạch.
    </p>
    <p style="margin-left:54.0pt;">
        &nbsp;
    </p>
    <p style="margin-left:54.0pt;">
        &nbsp;
    </p>
    <p style="margin-left:25.1pt;">
        <strong>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><em>Danh sách các bộ phận đi kèm</em></strong>
    </p>
    <table border="1" cellpadding="0" cellspacing="0" style="width:640px;" width="640">
        <tbody>
            <tr>
                <td style="width:215px;">
                    <p align="center" style="margin-left:13.65pt;">
                        Tên phụ tùng
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        Số lượng
                    </p>
                </td>
                <td rowspan="11" style="width:340px;">
                    <p style="margin-left:30.05pt;">
                        <strong><em>Lưu ý:</em></strong>
                    </p>
                    <p style="margin-left:30.05pt;">
                        Danh sách đóng gói là sự tham khảo định hình của sản phẩm. Khi sản phẩm được nâng cấp nó có thể khac so với yêu cầu lắp đặt thực tế của sản phẩm.
                    </p>
                    <p style="margin-left:30.05pt;">
                        Xin vui lòng áp dụng theo thực tế.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Khung treo/Giá treo
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Đinh
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        7
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Vít
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        7
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Cút nước chữ T nhực PE
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        RO film
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Cờ lê
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Cút nối 2” nhựa PE
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Van 3 chiểu
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Hướng dẫn sử dụng
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        1
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:215px;">
                    <p style="margin-left:13.65pt;">
                        Chứng chỉ
                    </p>
                </td>
                <td style="width:84px;">
                    <p align="center" style="margin-left:13.65pt;">
                        1
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-left:7.1pt;">
        &nbsp;
    </p>
    <p style="margin-left:25.1pt;">
        <strong><em>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></strong><strong><em>Các bước lắp đặt sản phẩm</em></strong>
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Công cụ: Cờ lê có thể điều chỉnh được, máy đo áp lực, vật liệu, lỗ trên tường, khoan, ốc, dao cắt ống nhựa...
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chọn vị trí lắp đặt: Cần chọn lắp đặt ở các vị trí gần ống dẫn nước của sàn nhà (như: bếp, phòng tắm, ban công...)
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nghiêm cấm đặt ở những nơi dưới ánh nắng mặt trời hoặc gần nơi có nhiệt độ cao.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kiểm tra áp lực nước đầu vào: Khóa van nước, đo áp lực nước dưới vòi nước lạnh.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sau đó mở van nước, VD bảng kiểm tra áp lưc là 0.3MPa, cao hơn so với mức cần thiết để cài đặt các van.
    </p>
    <p style="margin-left:54.0pt;">
        Để đảm bảo tính xác thực của nước, hãy chọn một áp lực nước thấp.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lắp đặt phụ kiện thân máy: Khóa van nước, sau đó sử dụng cờ lê để di chuyển vòi nguyên bản (vòi nước đầu vào van nối góc và ống dệt cuối), tránh không để hở đoạn nối cuối vòi và ống dệt (bởi vì đoạn cuối thường chìm dưới đáy không tiện để tháo ra)
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><em>Nhận dạng đường ống dẫn nước nóng và lạnh</em></strong>
    </p>
    <p style="margin-left:2.0cm;">
        Máy lọc nước chỉ được lắp đặt vào đường ống nước lạnh, nghiêm cấm lắp đặt trong đường ống nước nóng
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><em>Lắp đặt máy</em></strong>
    </p>
    <p style="margin-left:42.55pt;">
        1/ Lấy máy lọc nước, các phụ kiện cần thiết trong lắp đường nước vào ba đầu được nối với van góc, nối với 3 điểm bằng van bi, điều chỉnh cờ lê vặn chặt, kiểm tra xem có bị lỏng hay không bằng cách kéo ra.
    </p>
    <p style="margin-left:1.0cm;">
        2/ Sử dụng ống nước thải để nối trực tiếp với cống hoặc thùng chứa.
    </p>
    <p style="margin-left:42.55pt;">
        3/ Van áp trong thùng áp lực thắt chặt đầu vào trên, chú ý khi bịt đai không để bị tràn ra, nếu không sẽ có nguy cơ rò rỉ nước. Mở van áp lực để sử dụng mặt phân cách thùng và tăng áp suất kết nối chính ống bơm van bi.
    </p>
    <p style="margin-left:42.55pt;">
        4/ Hai trong số hai điểm tới 2 đồng ống đã được nối thông, và sau đó kiểm tra lấy hai điểm bọc chì ở cuối, nối nhanh với ống xả hoặc vòi bộ phận treo được cố định trên tường, điểm còn lại nối vào phần tách biệt giữa nước và nước đã lọc.
    </p>
    <p style="margin-left:42.55pt;">
        Answer the inlet ball valve: Van đầu vào
    </p>
    <p style="margin-left:42.55pt;">
        Connect wastewater discharge pipe: Kết nối ống xả nước thải
    </p>
    <p style="margin-left:63.8pt;">
        Wall: tường
    </p>
    <p style="margin-left:63.8pt;">
        PB conduit: Ống dẫn PB
    </p>
    <p style="margin-left:63.8pt;">
        Flood valve: Van thoát nước
    </p>
    <p style="margin-left:63.8pt;">
        Water faucet: vòi nước
    </p>
    <p style="margin-left:63.8pt;">
        Two port valve connection: Kết nối van 2 cổng
    </p>
    <p style="margin-left:63.8pt;">
        Too much on metope: có quá nhiều tạp chất
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kiểm tra rò rỉ nước: Sau khi lắp đặt sử dụng vải khô để lau máy, mở van nước, quan sát khoảng 5 phút để đảm bảo rằng không có sự rò rỉ, mở vòi nước và sau đó mở van xả nước.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Xả nước: cách sục rửa vui lòng xem trong hướng dẫn vận hành các bước 3,4,5.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Uống thử: Kiểm tra cặn, tạp chất, mùi vị
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lau chùi bề mặt: Sau khi lắp đặt, lau chùi bề mặt, lau dọn bếp và sàn nhà giữ cho phòng bếp của bạn sạch sẽ và ngăn nắp.
    </p>
    <p style="margin-left:54.0pt;">
        -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Điền vào thẻ bảo hành: Điền vào phiếu bảo hành theo yêu cầu
    </p>
    <p style="margin-left:54.0pt;">
        &nbsp;
    </p>
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="width:73px;">
                    <p align="center">
                        Nước vào
                    </p>
                </td>
                <td style="width:33px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:109px;">
                    <p>
                        Lõi số 1: Sợi PP 5
                    </p>
                </td>
                <td style="width:35px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:107px;">
                    <p align="center">
                        Lõi số 2: OCB
                    </p>
                </td>
                <td style="width:28px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:113px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:73px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:33px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:109px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:35px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:107px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:28px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:113px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:73px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:33px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:109px;">
                    <p align="center">
                        Lõi số 3: PP 1
                    </p>
                </td>
                <td style="width:35px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:107px;">
                    <p align="center">
                        Lõi số 4: R.O
                    </p>
                </td>
                <td style="width:28px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:113px;">
                    <p align="center">
                        Xử lý nước thải
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:73px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:33px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:109px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:35px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:107px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:28px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td>
                    <p>
                        &nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:73px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:33px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:109px;">
                    <p>
                        Lõi số 5: T33
                    </p>
                    <p>
                        &nbsp;
                    </p>
                </td>
                <td style="width:35px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:107px;">
                    <p align="center">
                        Lõi số 6: T33
                    </p>
                </td>
                <td style="width:28px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td>
                    <p>
                        Lõi số 7:&nbsp;đá khoáng
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:73px;height:19px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:33px;height:19px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:109px;height:19px;">
                    <p>
                        &nbsp;
                    </p>
                </td>
                <td style="width:35px;height:19px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:107px;height:19px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:28px;height:19px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:113px;height:19px;">
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:73px;height:24px;">
                    <p align="center">
                        &nbsp;
                    </p>
                    <p align="center">
                        &nbsp;
                    </p>
                    <p align="center">
                        &nbsp;
                    </p>
                </td>
                <td style="width:33px;height:24px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:109px;height:24px;">
                    <p align="center">
                        Bình nguội
                    </p>
                </td>
                <td style="width:35px;height:24px;">
                    <p align="center">
                        →
                    </p>
                </td>
                <td style="width:107px;height:24px;">
                    <p align="center">
                        Bình nóng
                    </p>
                </td>
                <td style="width:28px;height:24px;">
                    <p align="center">
                        &nbsp;
                    </p>
                    <p>
                        &nbsp;
                    </p>
                </td>
                <td style="width:113px;height:24px;">
                    <p>
                        &nbsp;
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-left:7.1pt;">
        &nbsp;
    </p>
    <p>
        <strong><em>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></strong><strong><em>Nguyên tắc hoạt động</em></strong>
    </p>
    <table border="0" cellpadding="0" cellspacing="0" style="width:671px;" width="671">
        <tbody>
            <tr>
                <td style="width:281px;">
                    <p>
                        Supply electrovalve: cảm biến nhiệt
                    </p>
                </td>
                <td style="width:390px;">
                    <p>
                        Warm water: nước ấm
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:281px;">
                    <p>
                        Self-priming pump: bơm tự động
                    </p>
                </td>
                <td style="width:390px;">
                    <p>
                        Hot water: nước nóng
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:281px;">
                    <p>
                        Inlet solenoid valve: van điện từ đầu vào
                    </p>
                </td>
                <td style="width:390px;">
                    <p>
                        Canned heat: hộp nhiệt
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:281px;">
                    <p>
                        Wastewater outlet: nước thải đầu vào
                    </p>
                </td>
                <td style="width:390px;">
                    <p>
                        Flush valve: van xả
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:281px;">
                    <p>
                        Flush solenoid valve: van xả điện từ
                    </p>
                </td>
                <td style="width:390px;">
                    <p>
                        Schematic diagram of RO machine: biểu đồ của máy RO
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width:281px;">
                    <p>
                        Water purifying box: hộp lọc nước
                    </p>
                    <p>
                        &nbsp;
                    </p>
                </td>
                <td style="width:390px;">
                    <p style="margin-left:-12.5pt;">
                        &nbsp;
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <strong>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong><strong><em>Hướng dẫn khắc phục</em></strong>
    </p>
    <p style="margin-left:49.65pt;">
        <strong>1/</strong>Mở van góc đầu vào: đầu tiên mở van nước đầu vào một nửa, vách ngăn không rỉ nước thì có thể mở hoàn toàn (nếu nó là kiểu hút RO-A và chìm dưới đáy ống bơm van nước đầu vào)
    </p>
    <p style="margin-left:49.65pt;">
        <strong>2/</strong>Cắm điện: bảng điều khiển tự động có chức năng chỉ ra các đèn tắt sáu khi tất cả đều sáng.
    </p>
    <p style="margin-left:49.65pt;">
        <strong>3/</strong>Bắt đầu làm sạch: Máy làm sạch trong khoảng 30 giây (đèn sục rửa sáng trong 30 giây) sau đó bắt đầu lọc nước
    </p>
    <p style="margin-left:49.65pt;">
        <strong>4/</strong>Bắt đầu lọc: 75 gallons cuả máy trong 1 ngày có thể tạo 75 gallons nước và áp lực của 3.2g các thùng có nghĩa là ống bơm đầu tiên sẽ được đầy trong vòng 1 - 1.5 giờ
    </p>
    <p style="margin-left:49.65pt;">
        <strong>5/</strong>Nước đầy: Máy sẽ tự động rửa trong 10 giây (đèn rửa sáng 10 giây) sau đó máy sẽ tự động dùng lọc nước, đèn báo sáng khi nước đầy.
    </p>
    <p style="margin-left:49.65pt;">
        <strong>6/</strong>Sau khi nước đầy, nước được dùng để làm sạch ống bơm đầu tiền, đường ống nước sẽ chảy ra một vài mảnh nhỏ carbon màu đen, đây là hiện tượng bình thường.
    </p>
    <p>
        <strong>7/</strong>Dọn dẹp khu vực lắp đặt, hướng dẫn khách hàng sử dựng và bảo trì máy lọc nước
    </p>
    <p>
        <strong>8/</strong>Chúng tôi khuyến khích khách hàng sử dụng máy lọc nước, không nên tiết kiệm
    </p>
    <p style="margin-left:49.65pt;">
        <strong>9/</strong>Khách hàng nên sử dụng máy lọc nước nhiều vào mùa hè để tránh nguồn nước bị nhiễm khuẩn và có mùi
    </p>
    <p style="margin-left:49.65pt;">
        <strong>10/</strong>Lượng nước chảy ít vào mùa đông là hiện tượng bình thường vì nhiệt độ nước thấp, sự hoạt động của phân tử nước giảm.
    </p>
    <p style="margin-left:49.65pt;">
        <strong>11/</strong>Nếu người sảu dụng vắng nhà một thời gian dài, xin vui lòng tắt van nước đầu vào để tránh áp lực vượt quá được tạo ra khiến nước bị rò rit và tránh gây tràn, ngập
    </p>
    <p style="margin-left:49.65pt;">
        <strong>12/</strong>Nếu bạn cần treo máy lọc nước trên tường, bạn phải cố định giá treo một cách chắc chắn để tránh rủi ro khi dùng máy lọc nước.
    </p>
    <p>
        &nbsp;
    </p>
    <p align="center">
        <b><i>&nbsp;</i></b>
    </p>
