@page "/bai-viet/ve-ecojapan"
@model CMS.Website.Pages.Article.vecongtyModel
@{
}

    <h1>Về Igalaxy S8</h1>
    <div id="cke_pastebin">
        Giới thiệu về học viện Nông nghiệp Việt Nam và sự ra đời của máy lọc nước I.GALAXY.S8
    </div>
    <div id="cke_pastebin">
        Học viện Nông nghiệp Việt Nam là Đại học tự chủ, đa ngành, đa phân hiệu theo mô hình của &nbsp;đại học nghiên cứu tiên tiến trong khu vực;trung tâm xuất sắc của quốc gia, khu vực về đổi mới sáng tạo trong đào tạo nguồn nhân lực, nghiên cứu khoa học, ứng dụng tri thức và phát triển công nghệ trong lĩnh vực nông nghiệp và phát triển nông thôn.
    </div>
    <div id="cke_pastebin">
        &nbsp;Với Sứ mạng của Học viện Nông nghiệp Việt Nam là đào tạo và cung cấp nguồn nhân lực chất lượng cao, nghiên cứu phát triển và chuyển giao KHCN, tri thức mới trong lĩnh vực nông nghiệp &amp; PTNT; đóng góp vào sự phát triển nền nông nghiệp và hội nhập quốc tế của đất nước.
    </div>
    <div id="cke_pastebin">
        Trước tình hình nguồn nước ở Việt Nam ngày càng ô nhiễm, các nguồn nước tự nhiên không đáp ứng được điều kiện ăn uống bình thường cùng với sự ra đời của rất nhiều hãng máy lọc nước nhập khẩu từ Nga, Mỹ, Nhật... và đặc biệt là Trung Quốc. Các nhà khoa học Học viện Nông nghiệp Việt Nam đã nhận thấy những bất cập như:
    </div>
    <div id="cke_pastebin">
        - Công nghệ lọc không phù hợp với nguồn nước Việt Nam.
    </div>
    <div id="cke_pastebin">
        - Giá thành quá cao so với mặt bằng thu nhập chung của người dân Việt Nam.
    </div>
    <div id="cke_pastebin">
        - Hàng giả, hàng nhái, hàng kém chất lượng tràn lan trên thi trường.
    </div>
    <div id="cke_pastebin">
        ...
    </div>
    <div id="cke_pastebin">
        Chính vì vậy, các nhà khoa học Học viện Nông nghiệp Việt Nam đã triển khai nghiên cứu đề tài cấp Học viện về “CẢI TIẾN, THIẾT KẾ MÁY LỌC NƯỚC THÔNG MINH ĐA CHỨC NĂNG” với sự kết hợp các tính năng được cho là cần thiết với cuộc sống, chất lượng cao và phù hợp với thu nhập của mặt bằng chung người dân Việt Nam. Đến tháng 7/2016, nghiên cứu đã thành công và cho ra sản phẩm máy lọc nước I.GALAXY.S8 đánh dấu bước phát triển mới trong nền khoa học Việt Nam về thiết bị xử lý nước.
    </div>
