@page 
@model ArticleCategoryModel
@{
    ViewData["Title"] = "Tạp chí Người xây dựng - Dự án";
    Layout = "~/Pages/Shared/_LayoutHome.cshtml";
}

    <div class="container flexbox">
        @await Html.PartialAsync("~/Pages/Shared/_BreadcrumbPartial.cshtml")
    </div>
<section class="section section_topstory mt-1">
    <div class="container flexbox">
        <div class="col-left-top">
            <div class="wrapper-topstory-folder wrapper-topstory-folder-v2 wrapper-topstory-home flexbox width_common">
                <article class="item-news full-thumb article-topstory">
                    <div class="thumb-art">
                        <a class="thumb thumb-5x3" href="#" title="">
                            <picture>
                                <!--if IE 9video(style='display: none;')
                                -->
                                <source srcset="/assets/images/homepage/img_01.jpg">
                                <!--if IE 9-->
                                <img class="lazy lazied" alt="" src="/assets/images/homepage/img_01.jpg">
                            </picture>
                        </a>
                    </div>
                    <h3 class="title-news"><a href="#" title=""> </a></h3>
                    <p class="description"><a href="#" title=""><span class="location-stamp">Nghệ An</span>Ba ngày cuối tuần, bãi biển dài 2 km dọc theo đường Bình Minh, thị xã Cửa Lò, ken kín người, ước tính 135.000 lượt khách.</a></p>
                    <p class="extend-lead description mt5"><a href="#" title="">Từ 16h ngày 19/7, đường Bình Minh, thị xã Cửa Lò, nhộn nhịp với hàng trăm xe ôtô biển số ...</a></p>
                </article>
                <div class="sub-news-top">
                    <div class="inner-sub-news-top">
                        <div class="scroll-sub-featured">
                            <ul class="list-sub-feature">
                                <li>
                                    <h3 class="title_news"><a href="#" title="Trump chạy đua 'gỡ bom' kinh tế">Trump chạy đua 'gỡ bom' kinh tế</a></h3>
                                    <p class="description"><a href="#" title="Trump chạy đua 'gỡ bom' kinh tế">Hiệu ứng của gói cứu trợ kinh tế đang biến mất, trường học khó mở cửa lại, tất cả diễn ra ngay trước cuộc bầu cử quan trọng với Trump.</a></p>
                                </li>
                                <li>
                                    <h3 class="title_news"><a href="#" title="Trump chạy đua 'gỡ bom' kinh tế">Trump chạy đua 'gỡ bom' kinh tế</a></h3>
                                    <p class="description"><a href="#" title="Trump chạy đua 'gỡ bom' kinh tế">Hiệu ứng của gói cứu trợ kinh tế đang biến mất, trường học khó mở cửa lại, tất cả diễn ra ngay trước cuộc bầu cử quan trọng với Trump.</a></p>
                                </li>
                                <li>
                                    <h3 class="title_news"><a href="#" title="Trump chạy đua 'gỡ bom' kinh tế">Trump chạy đua 'gỡ bom' kinh tế</a></h3>
                                    <p class="description"><a href="#" title="Trump chạy đua 'gỡ bom' kinh tế">Hiệu ứng của gói cứu trợ kinh tế đang biến mất, trường học khó mở cửa lại, tất cả diễn ra ngay trước cuộc bầu cử quan trọng với Trump.</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-right-top">
            <div class="box-category">
                <div class="banner-ads">
                    <a class="thumb thumb-2x3" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
            </div>
        </aside>
    </div>
</section>
<section class="section section_stream_home section_container">
    <div class="container has_border flexbox">
        <div class="col-left col-small">
            <article class="item-news item-news-common">
                <h3 class="title-news"><a href="#" title="Mất trắng tài sản sau lũ">Mất trắng tài sản sau lũ</a></h3>
                <div class="thumb-art">
                    <a class="thumb thumb-5x3" href="#" title="Mất trắng tài sản sau lũ">
                        <picture>
                            <!--if IE 9video(style='display: none;')
                            -->
                            <source srcset="/assets/images/homepage/img.png">
                            <!--if IE 9-->
                            <img class="lazy lazied" alt="Mất trắng tài sản sau lũ" src="/assets/images/homepage/img.png">
                        </picture>
                    </a>
                </div>
                <p class="description"><a href="#" title="Mất trắng tài sản sau lũ">Nhà cửa chìm trong nước, tài sản hoa màu của người dân bị cuốn trôi sau trận mưa kéo dài gây ngập lụt nhiều nơi ở Hà Giang.</a></p>
            </article>
            <article class="item-news item-news-common">
                <h3 class="title-news"><a href="#" title="Mất trắng tài sản sau lũ">Mất trắng tài sản sau lũ</a></h3>
                <div class="thumb-art">
                    <a class="thumb thumb-5x3" href="#" title="Mất trắng tài sản sau lũ">
                        <picture>
                            <!--if IE 9video(style='display: none;')
                            -->
                            <source srcset="/assets/images/homepage/img.png">
                            <!--if IE 9-->
                            <img class="lazy lazied" alt="Mất trắng tài sản sau lũ" src="/assets/images/homepage/img.png">
                        </picture>
                    </a>
                </div>
                <p class="description"><a href="#" title="Mất trắng tài sản sau lũ">Nhà cửa chìm trong nước, tài sản hoa màu của người dân bị cuốn trôi sau trận mưa kéo dài gây ngập lụt nhiều nơi ở Hà Giang.</a></p>
            </article>
            <article class="item-news item-news-common">
                <h3 class="title-news"><a href="#" title="Mất trắng tài sản sau lũ">Mất trắng tài sản sau lũ</a></h3>
                <div class="thumb-art">
                    <a class="thumb thumb-5x3" href="#" title="Mất trắng tài sản sau lũ">
                        <picture>
                            <!--if IE 9video(style='display: none;')
                            -->
                            <source srcset="/assets/images/homepage/img.png">
                            <!--if IE 9-->
                            <img class="lazy lazied" alt="Mất trắng tài sản sau lũ" src="/assets/images/homepage/img.png">
                        </picture>
                    </a>
                </div>
                <p class="description"><a href="#" title="Mất trắng tài sản sau lũ">Nhà cửa chìm trong nước, tài sản hoa màu của người dân bị cuốn trôi sau trận mưa kéo dài gây ngập lụt nhiều nơi ở Hà Giang.</a></p>
            </article>
            <article class="item-news item-news-common">
                <h3 class="title-news"><a href="#" title="Mất trắng tài sản sau lũ">Mất trắng tài sản sau lũ</a></h3>
                <div class="thumb-art">
                    <a class="thumb thumb-5x3" href="#" title="Mất trắng tài sản sau lũ">
                        <picture>
                            <!--if IE 9video(style='display: none;')
                            -->
                            <source srcset="/assets/images/homepage/img.png">
                            <!--if IE 9-->
                            <img class="lazy lazied" alt="Mất trắng tài sản sau lũ" src="/assets/images/homepage/img.png">
                        </picture>
                    </a>
                </div>
                <p class="description"><a href="#" title="Mất trắng tài sản sau lũ">Nhà cửa chìm trong nước, tài sản hoa màu của người dân bị cuốn trôi sau trận mưa kéo dài gây ngập lụt nhiều nơi ở Hà Giang.</a></p>
            </article>
            <article class="item-news item-news-common">
                <h3 class="title-news"><a href="#" title="Mất trắng tài sản sau lũ">Mất trắng tài sản sau lũ</a></h3>
                <div class="thumb-art">
                    <a class="thumb thumb-5x3" href="#" title="Mất trắng tài sản sau lũ">
                        <picture>
                            <!--if IE 9video(style='display: none;')
                            -->
                            <source srcset="/assets/images/homepage/img.png">
                            <!--if IE 9-->
                            <img class="lazy lazied" alt="Mất trắng tài sản sau lũ" src="/assets/images/homepage/img.png">
                        </picture>
                    </a>
                </div>
                <p class="description"><a href="#" title="Mất trắng tài sản sau lũ">Nhà cửa chìm trong nước, tài sản hoa màu của người dân bị cuốn trôi sau trận mưa kéo dài gây ngập lụt nhiều nơi ở Hà Giang.</a></p>
            </article>
            <article class="item-news item-news-common">
                <h3 class="title-news"><a href="#" title="Mất trắng tài sản sau lũ">Mất trắng tài sản sau lũ</a></h3>
                <div class="thumb-art">
                    <a class="thumb thumb-5x3" href="#" title="Mất trắng tài sản sau lũ">
                        <picture>
                            <!--if IE 9video(style='display: none;')
                            -->
                            <source srcset="/assets/images/homepage/img.png">
                            <!--if IE 9-->
                            <img class="lazy lazied" alt="Mất trắng tài sản sau lũ" src="/assets/images/homepage/img.png">
                        </picture>
                    </a>
                </div>
                <p class="description"><a href="#" title="Mất trắng tài sản sau lũ">Nhà cửa chìm trong nước, tài sản hoa màu của người dân bị cuốn trôi sau trận mưa kéo dài gây ngập lụt nhiều nơi ở Hà Giang.</a></p>
            </article>
            <article class="item-news item-news-common">
                <h3 class="title-news"><a href="#" title="Mất trắng tài sản sau lũ">Mất trắng tài sản sau lũ</a></h3>
                <div class="thumb-art">
                    <a class="thumb thumb-5x3" href="#" title="Mất trắng tài sản sau lũ">
                        <picture>
                            <!--if IE 9video(style='display: none;')
                            -->
                            <source srcset="/assets/images/homepage/img.png">
                            <!--if IE 9-->
                            <img class="lazy lazied" alt="Mất trắng tài sản sau lũ" src="/assets/images/homepage/img.png">
                        </picture>
                    </a>
                </div>
                <p class="description"><a href="#" title="Mất trắng tài sản sau lũ">Nhà cửa chìm trong nước, tài sản hoa màu của người dân bị cuốn trôi sau trận mưa kéo dài gây ngập lụt nhiều nơi ở Hà Giang.</a></p>
            </article>
            <article class="item-news item-news-common">
                <h3 class="title-news"><a href="#" title="Mất trắng tài sản sau lũ">Mất trắng tài sản sau lũ</a></h3>
                <div class="thumb-art">
                    <a class="thumb thumb-5x3" href="#" title="Mất trắng tài sản sau lũ">
                        <picture>
                            <!--if IE 9video(style='display: none;')
                            -->
                            <source srcset="/assets/images/homepage/img.png">
                            <!--if IE 9-->
                            <img class="lazy lazied" alt="Mất trắng tài sản sau lũ" src="/assets/images/homepage/img.png">
                        </picture>
                    </a>
                </div>
                <p class="description"><a href="#" title="Mất trắng tài sản sau lũ">Nhà cửa chìm trong nước, tài sản hoa màu của người dân bị cuốn trôi sau trận mưa kéo dài gây ngập lụt nhiều nơi ở Hà Giang.</a></p>
            </article>
            <div class="container flexbox">
                <div class="width_common pagination flexbox">
                    <div class="paging flexbox">
                        <div class="select-page"><span class="selected-page">Trang</span></div>
                        <div class="button-page flexbox">
                            <a class="btn-page prev-page" href="#">
                                <svg class="ic ic-arrow-left">
                                    <use xlink:href="#Arrow-Left-1">
                                        <svg id="Arrow-Left-1" viewBox="0 0 32 32">
                                            <path d="M22.2 0.6l3 2.8-12.6 12.6 12.6 12.6-3 2.8-15.4-15.4 15.4-15.4z"></path>
                                        </svg>
                                    </use>
                                </svg>
                            </a>
                            <input class="btn-page active type_page" type="text" value="1" disabled>
                            <input class="btn-page type_page" type="text" value="2" disabled><a class="btn-page next-page" href="#" title="Trang 2">
                                <svg class="ic ic-arrow-right">
                                    <use xlink:href="#Arrow-Right-1">
                                        <svg id="Arrow-Right-1" viewBox="0 0 32 32">
                                            <path d="M9.8 31.4l-3-2.8 12.6-12.6-12.6-12.6 3-2.8 15.4 15.4-15.4 15.4z"></path>
                                        </svg>
                                    </use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-center item-box-cate box-last">
            <div class="box-category box-cate-featured box-cate-featured-vertical">
                <hgroup class="width_common title-box-category thoisu">
                    <h2 class="parent-cate"><a class="inner-title box-title" href="#" title="Thời sự">Thời sự</a></h2>
                </hgroup>
                <div class="width_common content-box-category">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Hồ thủy điện cạn trơ đáy">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_02.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Hồ thủy điện cạn trơ đáy" src="/assets/images/homepage/img_02.jpg">
                                </picture><span class="icon_thumb_videophoto">
                                    <svg class="ic ic-camera">
                                        <use xlink:href="#Camera"></use>
                                        <svg id="Camera" viewBox="0 0 32 32">
                                            <path d="M16 24c-3.4 0-6-2.6-6-6s2.6-6 6-6c3.4 0 6 2.6 6 6s-2.6 6-6 6zM30 8h-5l-3.4-5.2c-0.4-0.4-1-0.8-1.6-0.8h-8c-0.6 0-1.2 0.4-1.6 0.8l-3.4 5.2h-5c-1.2 0-2 0.8-2 2v18c0 1.2 0.8 2 2 2h28c1.2 0 2-0.8 2-2v-18c0-1.2-0.8-2-2-2z"></path>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="width_common box-info-news">
                            <h3 class="title-news"><a href="#" title="Hồ thủy điện cạn trơ đáy">Hồ thủy điện cạn trơ đáy</a></h3>
                        </div>
                    </article>
                    <div class="sub-news-cate">
                        <article class="item-news">
                            <h3 class="title-news"><a href="#" title="Khác biệt giữa giấy đăng ký xe cũ và mới">Khác biệt giữa giấy đăng ký xe cũ và mới</a></h3>
                        </article>
                    </div>
                </div>
            </div>
            <div class="box-category box-cate-featured box-cate-featured-vertical">
                <hgroup class="width_common title-box-category thoisu">
                    <h2 class="parent-cate"><a class="inner-title box-title" href="#" title="Thời sự">Kinh doanh</a></h2>
                </hgroup>
                <div class="width_common content-box-category">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Hồ thủy điện cạn trơ đáy">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_02.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Hồ thủy điện cạn trơ đáy" src="/assets/images/homepage/img_02.jpg">
                                </picture><span class="icon_thumb_videophoto">
                                    <svg class="ic ic-camera">
                                        <use xlink:href="#Camera"></use>
                                        <svg id="Camera" viewBox="0 0 32 32">
                                            <path d="M16 24c-3.4 0-6-2.6-6-6s2.6-6 6-6c3.4 0 6 2.6 6 6s-2.6 6-6 6zM30 8h-5l-3.4-5.2c-0.4-0.4-1-0.8-1.6-0.8h-8c-0.6 0-1.2 0.4-1.6 0.8l-3.4 5.2h-5c-1.2 0-2 0.8-2 2v18c0 1.2 0.8 2 2 2h28c1.2 0 2-0.8 2-2v-18c0-1.2-0.8-2-2-2z"></path>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="width_common box-info-news">
                            <h3 class="title-news"><a href="#" title="Hồ thủy điện cạn trơ đáy">Gia đình nghèo có nhà đẹp, xe sang nhờ tấm vé số 1 bảng</a></h3>
                        </div>
                    </article>
                    <div class="sub-news-cate">
                        <article class="item-news">
                            <h3 class="title-news"><a href="#" title="Khác biệt giữa giấy đăng ký xe cũ và mới">Trung Quốc đốt tài liệu khi Mỹ yêu cầu đóng lãnh sự quán</a></h3>
                        </article>
                    </div>
                </div>
            </div>
            <div class="box-category box-cate-featured box-cate-featured-vertical">
                <hgroup class="width_common title-box-category thoisu">
                    <h2 class="parent-cate"><a class="inner-title box-title" href="#" title="Thời sự">Thời sự</a></h2>
                </hgroup>
                <div class="width_common content-box-category">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Hồ thủy điện cạn trơ đáy">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_02.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Hồ thủy điện cạn trơ đáy" src="/assets/images/homepage/img_02.jpg">
                                </picture><span class="icon_thumb_videophoto">
                                    <svg class="ic ic-camera">
                                        <use xlink:href="#Camera"></use>
                                        <svg id="Camera" viewBox="0 0 32 32">
                                            <path d="M16 24c-3.4 0-6-2.6-6-6s2.6-6 6-6c3.4 0 6 2.6 6 6s-2.6 6-6 6zM30 8h-5l-3.4-5.2c-0.4-0.4-1-0.8-1.6-0.8h-8c-0.6 0-1.2 0.4-1.6 0.8l-3.4 5.2h-5c-1.2 0-2 0.8-2 2v18c0 1.2 0.8 2 2 2h28c1.2 0 2-0.8 2-2v-18c0-1.2-0.8-2-2-2z"></path>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="width_common box-info-news">
                            <h3 class="title-news"><a href="#" title="Hồ thủy điện cạn trơ đáy">Hồ thủy điện cạn trơ đáy</a></h3>
                        </div>
                    </article>
                    <div class="sub-news-cate">
                        <article class="item-news">
                            <h3 class="title-news"><a href="#" title="Khác biệt giữa giấy đăng ký xe cũ và mới">Khác biệt giữa giấy đăng ký xe cũ và mới</a></h3>
                        </article>
                    </div>
                </div>
            </div>
            <div class="box-category box-cate-featured box-cate-featured-vertical">
                <hgroup class="width_common title-box-category thoisu">
                    <h2 class="parent-cate"><a class="inner-title box-title" href="#" title="Thời sự">Kinh doanh</a></h2>
                </hgroup>
                <div class="width_common content-box-category">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Hồ thủy điện cạn trơ đáy">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_02.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Hồ thủy điện cạn trơ đáy" src="/assets/images/homepage/img_02.jpg">
                                </picture><span class="icon_thumb_videophoto">
                                    <svg class="ic ic-camera">
                                        <use xlink:href="#Camera"></use>
                                        <svg id="Camera" viewBox="0 0 32 32">
                                            <path d="M16 24c-3.4 0-6-2.6-6-6s2.6-6 6-6c3.4 0 6 2.6 6 6s-2.6 6-6 6zM30 8h-5l-3.4-5.2c-0.4-0.4-1-0.8-1.6-0.8h-8c-0.6 0-1.2 0.4-1.6 0.8l-3.4 5.2h-5c-1.2 0-2 0.8-2 2v18c0 1.2 0.8 2 2 2h28c1.2 0 2-0.8 2-2v-18c0-1.2-0.8-2-2-2z"></path>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <div class="width_common box-info-news">
                            <h3 class="title-news"><a href="#" title="Hồ thủy điện cạn trơ đáy">Gia đình nghèo có nhà đẹp, xe sang nhờ tấm vé số 1 bảng</a></h3>
                        </div>
                    </article>
                    <div class="sub-news-cate">
                        <article class="item-news">
                            <h3 class="title-news"><a href="#" title="Khác biệt giữa giấy đăng ký xe cũ và mới">Trung Quốc đốt tài liệu khi Mỹ yêu cầu đóng lãnh sự quán</a></h3>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-right-top">
            <div class="box-category">
                <div class="banner-ads">
                    <a class="thumb thumb-1x1" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="box-category">
                <div class="banner-ads">
                    <a class="thumb thumb-1x1" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="box-category">
                <div class="banner-ads">
                    <a class="thumb thumb-1x1" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="box-category">
                <div class="banner-ads">
                    <a class="thumb thumb-1x1" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
            </div>
        </aside>
    </div>
</section>
<section class="section section_container">
    <section class="section section_container">
        <div class="container has_border">
            <hgroup class="width_common title-box-category dulich">
                <h2 class="parent-cate"><a class="inner-title" href="/du-lich" title="Du lịch">Du lịch</a></h2>
            </hgroup>
            <div class="width_common section_box_cate flexbox">
                <div class="col-boxcate colbox-left">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Dạo quanh TP HCM trên xe buýt mui trần">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Dạo quanh TP HCM trên xe buýt mui trần" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <div class="wrap-sum-news">
                            <h3 class="title-news"><a href="#" title="Dạo quanh TP HCM trên xe buýt mui trần">Dạo quanh TP HCM trên xe buýt mui trần</a></h3>
                            <p class="description">
                                <a href="#" title="Dạo quanh TP HCM trên xe buýt mui trần"><span class="location-stamp">TP HCM</span>Các điểm tham quan và đường phố thường nhật hiện ra trong mắt du khách qua góc nhìn mới mẻ từ tầng trên xe buýt mui trần.</a><span class="meta-news">
                                    <a class="count_cmt" href="#">
                                        <svg class="ic ic-comment">
                                            <use xlink:href="#Comment-Reg">
                                                <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                    <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                                </svg>
                                            </use>
                                        </svg><span class="font_icon">3</span>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-boxcate colbox-center">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Pleiku trong mắt chàng trai thích du lịch một mình" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">Pleiku trong mắt chàng trai thích du lịch một mình</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Pleiku trong mắt chàng trai thích du lịch một mình" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">Pleiku trong mắt chàng trai thích du lịch một mình</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                </div>
                <div class="col-boxcate colbox-right">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Rạp chiếu phim giữa sông Seine thời Covid-19">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Rạp chiếu phim giữa sông Seine thời Covid-19" src="/assets/images/homepage/img_01.jpg">
                                </picture><span class="icon_thumb_videophoto">
                                    <svg class="ic ic-interactive">
                                        <use xlink:href="#Camera"></use>
                                        <svg id="Camera" viewBox="0 0 32 32">
                                            <path d="M16 24c-3.4 0-6-2.6-6-6s2.6-6 6-6c3.4 0 6 2.6 6 6s-2.6 6-6 6zM30 8h-5l-3.4-5.2c-0.4-0.4-1-0.8-1.6-0.8h-8c-0.6 0-1.2 0.4-1.6 0.8l-3.4 5.2h-5c-1.2 0-2 0.8-2 2v18c0 1.2 0.8 2 2 2h28c1.2 0 2-0.8 2-2v-18c0-1.2-0.8-2-2-2z"></path>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Rạp chiếu phim giữa sông Seine thời Covid-19">Rạp chiếu phim giữa sông Seine thời Covid-19</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Rạp chiếu phim giữa sông Seine thời Covid-19">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Rạp chiếu phim giữa sông Seine thời Covid-19" src="/assets/images/homepage/img_01.jpg">
                                </picture><span class="icon_thumb_videophoto">
                                    <svg class="ic ic-interactive">
                                        <use xlink:href="#Camera"></use>
                                        <svg id="Camera" viewBox="0 0 32 32">
                                            <path d="M16 24c-3.4 0-6-2.6-6-6s2.6-6 6-6c3.4 0 6 2.6 6 6s-2.6 6-6 6zM30 8h-5l-3.4-5.2c-0.4-0.4-1-0.8-1.6-0.8h-8c-0.6 0-1.2 0.4-1.6 0.8l-3.4 5.2h-5c-1.2 0-2 0.8-2 2v18c0 1.2 0.8 2 2 2h28c1.2 0 2-0.8 2-2v-18c0-1.2-0.8-2-2-2z"></path>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Rạp chiếu phim giữa sông Seine thời Covid-19">Rạp chiếu phim giữa sông Seine thời Covid-19</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Rạp chiếu phim giữa sông Seine thời Covid-19">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Rạp chiếu phim giữa sông Seine thời Covid-19" src="/assets/images/homepage/img_01.jpg">
                                </picture><span class="icon_thumb_videophoto">
                                    <svg class="ic ic-interactive">
                                        <use xlink:href="#Camera"></use>
                                        <svg id="Camera" viewBox="0 0 32 32">
                                            <path d="M16 24c-3.4 0-6-2.6-6-6s2.6-6 6-6c3.4 0 6 2.6 6 6s-2.6 6-6 6zM30 8h-5l-3.4-5.2c-0.4-0.4-1-0.8-1.6-0.8h-8c-0.6 0-1.2 0.4-1.6 0.8l-3.4 5.2h-5c-1.2 0-2 0.8-2 2v18c0 1.2 0.8 2 2 2h28c1.2 0 2-0.8 2-2v-18c0-1.2-0.8-2-2-2z"></path>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Rạp chiếu phim giữa sông Seine thời Covid-19">Rạp chiếu phim giữa sông Seine thời Covid-19</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Rạp chiếu phim giữa sông Seine thời Covid-19">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Rạp chiếu phim giữa sông Seine thời Covid-19" src="/assets/images/homepage/img_01.jpg">
                                </picture><span class="icon_thumb_videophoto">
                                    <svg class="ic ic-interactive">
                                        <use xlink:href="#Camera"></use>
                                        <svg id="Camera" viewBox="0 0 32 32">
                                            <path d="M16 24c-3.4 0-6-2.6-6-6s2.6-6 6-6c3.4 0 6 2.6 6 6s-2.6 6-6 6zM30 8h-5l-3.4-5.2c-0.4-0.4-1-0.8-1.6-0.8h-8c-0.6 0-1.2 0.4-1.6 0.8l-3.4 5.2h-5c-1.2 0-2 0.8-2 2v18c0 1.2 0.8 2 2 2h28c1.2 0 2-0.8 2-2v-18c0-1.2-0.8-2-2-2z"></path>
                                        </svg>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Rạp chiếu phim giữa sông Seine thời Covid-19">Rạp chiếu phim giữa sông Seine thời Covid-19</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_container">
        <div class="container has_border">
            <hgroup class="width_common title-box-category dulich">
                <h2 class="parent-cate"><a class="inner-title" href="/du-lich" title="Du lịch">Du lịch</a></h2>
                <span class="sub-cate"><a href="/du-lich/cam-nang" title="Cẩm nang">Cẩm nang</a></span>
                <span class="sub-cate"><a href="/du-lich/dau-chan" title="Dấu chân">Dấu chân</a></span>
                <span class="sub-cate"><a href="/du-lich/tu-van" title="Tư vấn">Tư vấn</a></span>
                <span class="sub-cate"><a href="/du-lich/safe-go" title="Safe Go">Safe Go</a></span>
            </hgroup>
            <div class="width_common section_box_cate flexbox">
                <div class="col-boxcate colbox-left">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Dạo quanh TP HCM trên xe buýt mui trần">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Dạo quanh TP HCM trên xe buýt mui trần" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <div class="wrap-sum-news">
                            <h3 class="title-news"><a href="#" title="Dạo quanh TP HCM trên xe buýt mui trần">Dạo quanh TP HCM trên xe buýt mui trần</a></h3>
                            <p class="description">
                                <a href="#" title="Dạo quanh TP HCM trên xe buýt mui trần"><span class="location-stamp">TP HCM</span>Các điểm tham quan và đường phố thường nhật hiện ra trong mắt du khách qua góc nhìn mới mẻ từ tầng trên xe buýt mui trần.</a><span class="meta-news">
                                    <a class="count_cmt" href="#">
                                        <svg class="ic ic-comment">
                                            <use xlink:href="#Comment-Reg">
                                                <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                    <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                                </svg>
                                            </use>
                                        </svg><span class="font_icon">3</span>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-boxcate colbox-center">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Pleiku trong mắt chàng trai thích du lịch một mình" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">Pleiku trong mắt chàng trai thích du lịch một mình</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Pleiku trong mắt chàng trai thích du lịch một mình" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">Pleiku trong mắt chàng trai thích du lịch một mình</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                </div>
                <div class="col-boxcate colbox-right">
                    <div class="box-category">
                        <div class="banner-ads">
                            <a class="thumb thumb-1x1" href="#" title="">
                                <picture>
                                    <source srcset="/assets/images/homepage/banner_01.png">
                                    <img class="lazy lazied" alt="" src="/assets/images/homepage/banner_01.png">
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_container">
        <div class="container has_border">
            <hgroup class="width_common title-box-category dulich">
                <h2 class="parent-cate"><a class="inner-title" href="/du-lich" title="Du lịch">Du lịch</a></h2>
                <span class="sub-cate"><a href="/du-lich/cam-nang" title="Cẩm nang">Cẩm nang</a></span>
                <span class="sub-cate"><a href="/du-lich/dau-chan" title="Dấu chân">Dấu chân</a></span>
                <span class="sub-cate"><a href="/du-lich/tu-van" title="Tư vấn">Tư vấn</a></span>
                <span class="sub-cate"><a href="/du-lich/safe-go" title="Safe Go">Safe Go</a></span>
            </hgroup>
            <div class="width_common section_box_cate flexbox">
                <div class="col-boxcate colbox-left">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Dạo quanh TP HCM trên xe buýt mui trần">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Dạo quanh TP HCM trên xe buýt mui trần" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <div class="wrap-sum-news">
                            <h3 class="title-news"><a href="#" title="Dạo quanh TP HCM trên xe buýt mui trần">Dạo quanh TP HCM trên xe buýt mui trần</a></h3>
                            <p class="description">
                                <a href="#" title="Dạo quanh TP HCM trên xe buýt mui trần"><span class="location-stamp">TP HCM</span>Các điểm tham quan và đường phố thường nhật hiện ra trong mắt du khách qua góc nhìn mới mẻ từ tầng trên xe buýt mui trần.</a><span class="meta-news">
                                    <a class="count_cmt" href="#">
                                        <svg class="ic ic-comment">
                                            <use xlink:href="#Comment-Reg">
                                                <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                    <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                                </svg>
                                            </use>
                                        </svg><span class="font_icon">3</span>
                                    </a>
                                </span>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-boxcate colbox-center">
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Pleiku trong mắt chàng trai thích du lịch một mình" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">Pleiku trong mắt chàng trai thích du lịch một mình</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                    <article class="item-news full-thumb">
                        <div class="thumb-art">
                            <a class="thumb thumb-5x3" href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">
                                <picture>
                                    <!--if IE 9video(style='display: none;')
                                    -->
                                    <source srcset="/assets/images/homepage/img_01.jpg">
                                    <!--if IE 9-->
                                    <img class="lazy lazied" alt="Pleiku trong mắt chàng trai thích du lịch một mình" src="/assets/images/homepage/img_01.jpg">
                                </picture>
                            </a>
                        </div>
                        <h3 class="title-news">
                            <a href="#" title="Pleiku trong mắt chàng trai thích du lịch một mình">Pleiku trong mắt chàng trai thích du lịch một mình</a><span class="meta-news">
                                <a class="count_cmt" href="#">
                                    <svg class="ic ic-comment">
                                        <use xlink:href="#Comment-Reg">
                                            <svg id="Comment-Reg" viewBox="0 0 32 32">
                                                <path d="M2 0h28c0.53 0 1.039 0.211 1.414 0.586s0.586 0.884 0.586 1.414v20c0 0.53-0.211 1.039-0.586 1.414s-0.884 0.586-1.414 0.586h-10l-12 8v-8h-6c-0.53 0-1.039-0.211-1.414-0.586s-0.586-0.884-0.586-1.414v-20c0-0.53 0.211-1.039 0.586-1.414s0.884-0.586 1.414-0.586v0z"></path>
                                            </svg>
                                        </use>
                                    </svg><span class="font_icon">1</span>
                                </a>
                            </span>
                        </h3>
                    </article>
                </div>
                <div class="col-boxcate colbox-right">
                    <div class="box-category">
                        <div class="banner-ads">
                            <a class="thumb thumb-1x1" href="#" title="">
                                <picture>
                                    <source srcset="/assets/images/homepage/banner_01.png">
                                    <img class="lazy lazied" alt="" src="/assets/images/homepage/banner_01.png">
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>