@page 
@model ArticleModel
@{
    ViewData["Title"] = "Tạp chí Người xây dựng - Căn hộ hạng sang ghi điểm bằng tiện ích riêng biệt";
    Layout = "~/Pages/Shared/_LayoutHome.cshtml";
}

    <div class="container flexbox">
        @await Html.PartialAsync("~/Pages/Shared/_BreadcrumbPartial.cshtml")
    </div>
<section class="section page-detail top-detail">
    <div class="container">
        <div class="col-left-top">
            <div class="flexbox mt-3">
                <h1 class="title-detail">Căn hộ hạng sang ghi điểm bằng tiện ích riêng biệt</h1>
                <div class="meta mb10 clearfix w-100">
                    <span class="datetime mt20 left"><i class="far fa-clock"></i><span class="format_time">09:55</span><span class="format_date">28/07/2020</span></span><span class="right" id="tts">
                        <audio controls="" src="/assets/audio/audio.mp3"></audio>
                    </span>
                </div>
                <p class="description"><strong>(Xây dựng) - Ngày 28/7, Vinhomes chính thức mở bán S1.02 - tòa căn hộ cuối cùng thuộc Sapphire 1 – phân khu trái tim của thành phố biển hồ Vinhomes Ocean Park. Tọa lạc tại tâm điểm phồn hoa của dự án, S1.02 là nơi an cư của những cư dân yêu thích cuộc sống sôi động, hiện đại.</strong></p>
                <p class="description">Bên cạnh vị trí trung tâm, thiết kế sang trọng hiện đại, các dự án căn hộ hạng sang còn hút khách bằng những đặc quyền dành riêng cho gia chủ.</p>
                <article class="fck_detail">
                    <p class="Normal">Theo số liệu của CBRE Việt Nam, giai đoạn từ 2017 đến quý IV/2019, căn hộ phân khúc hạng sang tại khu trung tâm TP HCM đã đội giá đến 40%, tức hơn 13% mỗi năm. Đây là mức tăng cao nhất so với tất cả các phân khúc còn lại, kể cả loại hình căn hộ trung cấp và bình dân.</p>
                    <p class="Normal">Nhiều năm "chinh chiến" trong lĩnh vực bất động sản, anh Tuấn Minh - nhà đầu tư cá nhân đánh giá loại hình căn hộ hạng sang có khả năng sinh lợi khá ổn so với các loại hình khác. Tuy nhiên, anh Minh cũng cho rằng đầu tư vào căn hộ hạng sang là cả một "canh bạc lớn", bởi dòng sản phẩm này đòi hỏi số tiền ban đầu lớn. Trường hợp đầu tư bằng đòn bẩy tài chính, khách hàng phải lựa chọn rất kỹ trước khi "chọn mặt gửi vàng", nếu không sẽ không chịu nổi áp lực trả vay trong khi chưa khai thác cho thuê hoặc sang nhượng lại được.</p>
                    <p class="Normal">Thị trường TPHCM hiện tại, anh Minh đánh giá dự án The Grand Manhattan đáp ứng khá tốt các tiêu chí mang lại sức hấp dẫn của một căn hộ hạng sang như vị trí lõi trung tâm quận 1, do đơn vị uy tín Novaland phát triển, nội thất xa xỉ, thiết kế độc đáo và đặc biệt ưu đãi đặc quyền một chỗ đỗ xe định danh cho gia chủ. Bản thân anh Minh đã "xuống tiền" đầu tư một căn hộ tại đây, nhưng vẫn đang tìm cơ hội mua thêm một căn nữa.</p>
                    <p class="Normal">"Chỗ đỗ xe riêng biệt, nhiều người thường không nghĩ đến khi chọn mua nhà. Nhưng với những người đang sống tại các quận trung tâm thì hiểu rất rõ không phải có tiền là có thể sở hữu được chỗ đỗ xe mang tên mình. Tôi tin rằng đây là ‘đặc quyền’ sẽ tạo nên sức hấp dẫn của dự án", anh Minh nhận định.</p>
                    <p class="Normal">Khảo sát của CBRE Việt Nam cho thấy, rổ hàng căn hộ hạng sang tại TP HCM đang lấn lướt cả nguồn cung nhà bình dân. Cụ thể, nếu như căn hộ giá bình dân chỉ chiếm khoảng 2% tổng nguồn cung mới trong năm 2019 thì phân khúc hạng sang chiếm đến 6%. Với đà tăng giá mạnh mẽ của bất động sản trong nửa thập niên qua, hiện mức giá trung bình tại phân khúc hạng sang đạt 6.308 USD mỗi m2, tính đến quý IV/2019. Một dự án thậm chí đạt ngưỡng gần 15.000 USD, tương đương 350 triệu đồng mỗi m2. Để định vị ở mức giá đắt đỏ này, các dự án không chỉ tập trung vào thiết kế, cảnh quan... mà còn phải tạo ra những giá trị khách biệt khác cho cư dân.</p>
                    <p class="Normal">Trao đổi với<em>VnExpress</em>, TS Trần Nguyễn Minh Hải - chuyên gia bất động sản Đại học Ngân hàng TP HCM cho biết, ngoài những tiêu chí khắt khe về vị trí, thiết kế, quản lý và vận hành, hiện nay, chuẩn căn hộ hạng sang phải được đánh giá dựa trên những trải nghiệm mang đến cho cư dân thông qua nhiều yếu tố.</p>
                    <p class="Normal">Thứ nhất đề cao tiêu chuẩn an toàn cho không gian sống, chú trọng đến sức khỏe, quản lý, vận hành theo tiêu chuẩn 5 sao. Thứ hai, mọi thứ phải thật hạn hữu, tuyệt mật và riêng tư như thang máy riêng, sảnh đón sang trọng, vị trí đậu xe định danh... mang đến niềm tự hào riêng cho gia chủ. Cuối cùng, mọi thứ phải được cá nhân hóa theo sở thích, mang đậm phong cách riêng của chủ nhà.</p>
                    <p class="Normal">"Không phải tự nhiên các chủ đầu tư liên tục đổi mới để cho ra thị trường những dự án sang trọng với nhiều tiện ích mới lạ, độc đáo, số lượng hạn hữu. Người mua được phép tùy chọn thiết kế, vật liệu hoàn thiện, căn hộ đảm bảo các tiêu chuẩn xanh, tiết kiệm năng lượng, quản lý và vận hành theo tiêu chuẩn 5 sao... Tất cả để phục vụ cho trải nghiệm của cư dân", TS Minh Hải phân tích.</p>
                    <figure class="tplCaption action_thumb_added">
                        <div class="fig-picture">
                            <picture>
                                <source srcset="/assets/images/img_02.jpg">
                                <img class="lazy lazied" alt="img" src="/assets/images/img_02.jpg">
                            </picture>
                        </div>
                        <figcaption itemprop="description">
                            <p class="Image">Phối cảnh The Grand Manhattan mang thiết kế hiện đại, sang trọng.</p>
                        </figcaption>
                    </figure>
                    <p class="Normal">Dự án The Grand Manhattan do Novaland triển khai ngay "tọa độ vàng" của TP HCM, hai mặt tiền đường Cô Giang - Cô Bắc, quận 1. Tổ hợp này được xây dựng trên quy mô diện tích khoảng 14.000 m2, trong đó gần 4.200 m2 dành cho công viên nội khu mang đến không gian sống thoáng đãng, thiên nhiên xanh mát giữa lòng quận 1. Đặc biệt, Novaland dành tặng một chỗ đậu xe định danh dành cho những cư dân đầu tiên mua căn hộ The Grand Manhattan. Đây được đánh giá là một "đặc quyền" đắt giá, trong bối cảnh lõi trung tâm thành phố ngày càng trở nên đông đúc.</p>
                    <p class="Normal">Thống kê do Sở Xây dựng TP HCM công bố năm 2017 cho thấy trong phạm vi bán kính 500m quanh trụ sở UBND thành phố có 59 công trình cao tầng sở hữu 1-5 tầng hầm đỗ xe, như tòa nhà Mplaza Saigon, khu phức hợp Eden, cao ốc Saigon Center... Ngoài ra, còn có 46 công trình cao tầng có tầng hầm đỗ xe với sức chứa nhỏ hơn trên các đường Đồng Khởi, Nguyễn Huệ, Hai Bà Trưng...</p>
                    <p class="Normal">Bên cạnh các tòa nhà cao tầng, TP HCM cho phép một số tuyến đường được đậu xe ô tô tạm dưới lòng đường có thu phí ở quận 1 như Đông Du, Mạc Thị Bưởi, Huyền Trân Công Chúa, Nguyễn Cư Trinh... Theo mức phí của Sở Giao thông Vận tải TP HCM, từ 1/8 vừa qua, các loại xe ôtô phải trả 20.000 đến 40.000 đồng cho một giờ đỗ xe dưới lòng đường và cũng tính lũy tiến theo giờ. Đó là chưa nói khách thường phải cạnh tranh để có một chỗ đỗ.</p>
                    <p class="Normal">"Hơn ai hết, chúng tôi hiểu rõ sự đắt đỏ và khan hiếm của chỗ đậu xe ngay tại trung tâm TP HCM. Thật vô lý nếu bạn ở một nơi mà mỗi ngày phải mang xe đến gửi ở nơi khác. Do đó, bạn chỉ thực sự an cư khi chiếc xe của bạn cũng có một 'ngôi nhà' riêng", đại diện Novaland chia sẻ.</p>
                    <p class="Normal" style="text-align:right;"><strong>Lộc An</strong></p>
                </article>
                <div class="footer-content width_common">
                    <a class="save back-folder minus" href="#">
                        <svg class="ic ic-back">
                            <use xlink:href="#Arrow-Right-2">
                                <svg id="Arrow-Right-2" viewBox="0 0 32 32">
                                    <path d="M18.6 2.6l-2.8 2.8 8.6 8.6h-24.4v4h24.4l-8.6 8.6 2.8 2.8 13.4-13.4-13.4-13.4z"></path>
                                </svg>
                            </use>
                        </svg>
                    </a>
                    <div class="mycms_save_for_later">
                        <a class="save" href="javascript:void(0);">
                            <svg class="ic ic-save-outline">
                                <use xlink:href="#Save-1">
                                    <svg id="Save-1" viewBox="0 0 32 32">
                                        <path d="M16 23.669l8 4.799v-26.456c-0.036-0.002-0.075-0.004-0.117-0.006-0.226-0.009-0.443-0.007-0.715-0.004-0.147 0.001-0.311 0.003-0.501 0.003h-13.333c-0.19 0-0.353-0.001-0.501-0.003-0.272-0.002-0.489-0.004-0.715 0.004-0.042 0.002-0.081 0.004-0.117 0.006v26.456l8-4.799zM6 32v-29.995c0-2.027 1-2.002 2.909-2.002 0.139 0.001 0.28 0.002 0.424 0.002h13.333c0.144 0 0.285-0.001 0.424-0.002 1.635-0.014 2.909-0.025 2.909 2.002v29.995l-10-5.999-10 5.999z"></path>
                                    </svg>
                                </use>
                            </svg>Lưu
                        </a>
                    </div>
                    <div class="social">
                        <span class="txt">Chia sẻ</span><a class="fb btn_share" href="javascript:;" title="Chia sẻ bài viết lên facebook">
                            <svg class="ic ic-facebook">
                                <use xlink:href="#Facebook">
                                    <svg id="Facebook" viewBox="0 0 32 32">
                                        <path d="M22.912 10.485l-0.582 5.515h-4.409v16h-6.622v-16h-3.3v-5.515h3.3v-3.32c0-4.486 1.865-7.164 7.168-7.164h4.407v5.515h-2.758c-2.058 0-2.195 0.777-2.195 2.214v2.756h4.99z"></path>
                                    </svg>
                                </use>
                            </svg>
                        </a><a class="tw btn_share" href="javascript:;" title="Chia sẻ bài viết lên twitter">
                            <svg class="ic ic-twitter">
                                <use xlink:href="#Twitter">
                                    <svg id="Twitter" viewBox="0 0 32 32">
                                        <path d="M32 6c-1.2 0.6-2.4 0.8-3.8 1 1.4-0.8 2.4-2 2.8-3.6-1.2 0.8-2.6 1.2-4.2 1.6-1.2-1.2-3-2-4.8-2-3.4 0-6.4 3-6.4 6.6 0 0.6 0 1 0.2 1.4-5.4-0.2-10.4-2.8-13.6-6.8-0.6 1-0.8 2-0.8 3.4 0 2.2 1.2 4.2 3 5.4-1 0-2-0.4-3-0.8 0 3.2 2.2 5.8 5.2 6.4-0.6 0.2-1.2 0.2-1.8 0.2-0.4 0-0.8 0-1.2-0.2 0.8 2.6 3.2 4.6 6.2 4.6-2.2 1.8-5 2.8-8.2 2.8h-1.6c3 1.8 6.4 3 10 3 12 0 18.6-10 18.6-18.6v-0.8c1.4-1 2.6-2.2 3.4-3.6z"></path>
                                    </svg>
                                </use>
                            </svg>
                        </a><a class="mail" href="javascript:;" rel="nofollow" title="Mail">
                            <svg class="ic ic-email">
                                <use xlink:href="#Mail">
                                    <svg id="Mail" viewBox="0 0 32 32">
                                        <path d="M17.416 18.605c-0.436 0.257-0.922 0.392-1.416 0.392s-0.981-0.135-1.416-0.392l-14.559-8.605c-0.005 0.045-0.024 0.086-0.024 0.132v18.764c0 0.293 0.105 0.574 0.293 0.781s0.442 0.323 0.707 0.323h30c0.265 0 0.52-0.116 0.707-0.323s0.293-0.488 0.293-0.781v-18.764c0-0.046-0.019-0.086-0.024-0.131l-14.56 8.604z"></path>
                                        <path d="M31 4h-30c-0.265 0-0.52 0.123-0.707 0.341s-0.293 0.514-0.293 0.823v2.327c-0 0.211 0.049 0.417 0.142 0.598s0.226 0.329 0.386 0.428l15 9.345c0.145 0.091 0.307 0.138 0.472 0.138s0.327-0.047 0.472-0.138l15-9.345c0.16-0.099 0.293-0.247 0.386-0.428s0.142-0.387 0.142-0.598v-2.327c0-0.309-0.105-0.605-0.293-0.823s-0.442-0.341-0.707-0.341z"></path>
                                    </svg>
                                </use>
                            </svg>
                        </a><a class="share-link btn_copy" href="javascript:;" rel="nofollow" title="Copy link">
                            <svg class="ic ic-link">
                                <use xlink:href="#Link">
                                    <svg id="Link" viewBox="0 0 32 32">
                                        <path d="M9 32c-2.4 0-4.6-1-6.4-2.6-3.6-3.6-3.6-9.2 0-12.8l1.4-1.4 2.8 2.8-1.4 1.4c-2 2-2 5.2 0 7.2s5.2 2 7.2 0l6-6c2-2 2-5.2 0-7.2l-1.4-1.4 2.8-2.8 1.4 1.4c3.6 3.6 3.6 9.2 0 12.8l-6 6c-1.6 1.6-4 2.6-6.4 2.6z"></path>
                                        <path d="M12 22.8l-1.4-1.4c-3.6-3.6-3.6-9.2 0-12.8l6-6c1.8-1.8 4-2.6 6.4-2.6s4.6 1 6.4 2.6c3.6 3.6 3.6 9.2 0 12.8l-1.4 1.4-2.8-2.8 1.4-1.4c2-2 2-5.2 0-7.2s-5.2-2-7.2 0l-6 6c-2 2-2 5.2 0 7.2l1.4 1.4-2.8 2.8z"></path>
                                    </svg>
                                </use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="sidebar-1 pin-comment">
                    <div class="section-comment">
                        <div class="box_category width_common" id="box_comment_cms">
                            <div class="box_comment_cms width_common">
                                <div class="ykien_cms width_common">
                                    <div class="left">
                                        <h3 style="display:inline-block;font-weight:bold;" rel="time">Ý kiến</h3> (
                                        <label id="total_comment">28</label>)
                                    </div>
                                </div>
                                <div class="input_comment width_common">
                                    <form id="comment_post_form">
                                        <div class="box-area-input width_common">
                                            <textarea class="txt_comment block_input" id="txtComment" placeholder="Ý kiến của bạn"></textarea>
                                            <div class="right block_btn_send">
                                                <button class="btn_send_comment btn_cms" id="comment_post_button" type="button" value="Gửi">Gửi</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="filter_coment width_common"><a class="active" href="javascript:;" rel="like">Quan tâm nhất</a><a href="javascript:;" rel="time">Mới nhất</a></div>
                                <div class="width_common" id="box_comment">
                                    <div class="main_show_comment width_common mb10" id="list_comment">
                                        <div class="comment_item width_common">
                                            <div class="user_status"><a class="avata_coment" href="#">L</a></div>
                                            <div class="content-comment">
                                                <p class="full_content"><span class="txt-name"><a class="nickname" href="#" title="Xem trang ý kiến của Lương Đình Nghĩa" target="_blank"><b>Lương Đình Nghĩa</b></a></span>cách ly luôn đi để dứt điểm sớm.<br>Làm sớm nghỉ sớm.</p>
                                                <p class="block_like_web width_common"><a class="link_thich" id="36212165" href="javascript:;"><span class="total_like" href="javascript:;">384</span><i class="ic ic-like"></i></a><a class="link_reply" id="36212165" href="javascript:;">Trả lời</a><a class="share_cmt_fb" href="javascript:;">Chia sẻ</a><span class="time-com">3h trước</span><a class="report-comment" href="javascript:;">Vi phạm</a></p>
                                            </div>
                                            <div class="sub_comment width_common clearfix">
                                                <div class="input_comment reply_input_comment width_common" id="comment_reply_wrapper" style="/* transform-origin: 0px 0px; *//* opacity: 1; *//* transform: scale(1, 1); */">
                                                    <form id="comment_reply_form">
                                                        <div class="box-area-input width_common">
                                                            <textarea class="txt_comment block_input" id="txtComments" placeholder="Ý kiến của bạn"></textarea>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="sub_comment_item comment_item width_common">
                                                    <div class="user_status"><a class="avata_coment" href="#">M</a></div>
                                                    <div class="content-comment">
                                                        <p class="full_content"><span class="txt-name"><a class="nickname" href="#" title="Xem trang ý kiến của Mikasa" target="_blank"><b>Mikasa</b></a></span>Bạn nói mà không suy nghĩ. Người ta phải tính toán chứ không phải thích là làm đâu.</p>
                                                        <p class="block_like_web width_common"><a class="link_thich" id="36212490" href="javascript:;"><span class="total_like" href="javascript:;">183</span><i class="ic ic-like"></i></a><a class="link_reply" id="36212490" href="javascript:;">Trả lời</a><a class="share_cmt_fb" href="javascript:;">Chia sẻ</a><span class="time-com">11h trước</span><a class="report-comment" href="javascript:;">Vi phạm</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="count-reply"><a class="view_all_reply" href="javascript:;"><span class="num_reply_cmt">2</span> trả lời</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="view_more_coment width_common mb10"><a class="txt_666" href="javascript:;">Xem thêm</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="tags">
                        <h3 class="txt">Tags:</h3>
                        <h4 class="item-tag"><a href="" title="Hà Nội">Hà Nội</a></h4>
                        <h4 class="item-tag"><a href="" title="TP HCM">TP HCM</a></h4>
                        <h4 class="item-tag"><a href="" title="Covid-19">Covid-19</a></h4>
                        <h4 class="item-tag"><a href="" title="cách ly xã hội">cách ly xã hội</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-right-top">
            <div class="box-category">
                <div class="banner-ads mb-3">
                    <a class="thumb thumb-2x3" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied box-category" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
                <div class="banner-ads mb-3">
                    <a class="thumb thumb-3x2" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied box-category" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
                <div class="banner-ads mb-3">
                    <a class="thumb thumb-3x2" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied box-category" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
                <div class="banner-ads mb-3">
                    <a class="thumb thumb-3x2" href="#" title="">
                        <picture>
                            <source srcset="/assets/images/homepage/banner_01.png">
                            <img class="lazy lazied banner-ads" alt="" src="/assets/images/homepage/banner_01.png">
                        </picture>
                    </a>
                </div>
            </div>
        </aside>
    </div>
</section>