@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "/Pages/Shared/_LayoutAccount.cshtml";
}
<!-- Authentication card start -->

<form class="md-float-material form-material" id="account" method="post">
    <div class="auth-box card">
        <div class="card-block">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center">Đăng nhập</h3>
                </div>
            </div>
            <div class="form-group form-primary">
                <input type="text" asp-for="Input.Email" class="form-control" placeholder="Nhập email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <span class="form-bar"></span>
            </div>
            <div class="form-group form-primary">
                <input type="password" asp-for="Input.Password" class="form-control"  placeholder="Nhập mật khẩu">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <span class="form-bar"></span>
            </div>
            <div class="row m-t-25 text-left">
                <div class="col-12">
                    <div class="checkbox-fade fade-in-primary d-">
                        <label asp-for="Input.RememberMe">
                            <input type="checkbox" asp-for="Input.RememberMe">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">Nhớ tài khoản</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Đăng nhập</button>
                </div>
            </div>
            <hr>
            
        </div>
    </div>
</form>
<!-- end of form -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}