@page
@model CMS.Website.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Máy lọc nước EcoJapan";
    Layout = "~/Pages/Shared/_LayoutHome.cshtml";
}


<div class="container">
    <!-- SINGLE FEATURE -->
    <div class="row">
        <div class="section-title">
            <h1>
                M&aacute;y lọc nước EcoJapan
            </h1>
            <p>
                M&aacute;y lọc nước EcoJapan được nghi&ecirc;n cứu bởi c&aacute;c nh&agrave; khoa học khoa cơ điện học viện N&ocirc;ng Nghiệp Việt Nam tiền th&acirc;n l&agrave; Học viện N&ocirc;ng Nghiệp I, sản xuất tại c&ocirc;ng ty cổ phần Hometek Việt v&agrave; ph&acirc;n phối bởi c&ocirc;ng ty cổ phần Igalaxy Việt Nam<o:p></o:p>
            </p>


            <div class="clear"></div>
            <div><img src="~/assets/images/heading4.png" alt="se" /></div>
            <div class="col-md-4 col-xs-12 col-sm-4 f3 f2-hover">
                <div class="f2-contents">
                    <div class="f2-icon">
                        <i class="fa fa-check"></i>
                        <h3 class="f2-heading-text">
                            Màng R.O
                        </h3>
                    </div>
                    <div class="f2-excerpt">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4 f3 f2-hover">
                <div class="f2-contents">
                    <div class="f2-icon">
                        <i class="fa fa-send"></i>
                        <h3 class="f2-heading-text">
                            Loại bỏ vi khuẩn trong nguồn nước.
                        </h3>
                    </div>
                    <div class="f2-excerpt">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4 f3 f2-hover">
                <div class="f2-contents">
                    <div class="f2-icon">
                        <i class="fa fa-send"></i>
                        <h3 class="f2-heading-text">
                            Tạo khoáng chất cần thiết cho cơ thể.
                        </h3>
                    </div>
                    <div class="f2-excerpt">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FEATURE AREA -->
<!-- SERVICE AREA -->
<div class="tieuchi">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 class="heading">Bộ lọc gồm 8 lõi (1 lọc thô ở ngoài và 7 lõi lọc bên trong máy)</h2>
                <div><img src="~/assets/images/heading4.png" alt="se" /></div>
            </div>
            <div class="iconbox col-md-4 col-sm-4 col-xs-12">
                <div class="iconbox_content col-md-12 col-sm-12 col-xs-12">
                    <img class="m-top" src="~/assets/images/1502246089nhan-vien.png" alt="Lọc thô PP-5M">
                    <h3>Lọc thô PP-5M</h3>
                    <div class="summary">
                        <div>
                            <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div>
                                    <div itemprop="text">
                                        <p>
                                            L&otilde;i được cấu tạo bởi sợi b&ocirc;ng xốp của nhựa polyproplene, sau đ&oacute; được n&eacute;n chặt lại, tạo ra c&aacute;c khe lọc kh&aacute;c nhau. Với m&aacute;y gia đ&igrave;nh, m&aacute;y thường sử dụng l&otilde;i lọc với khe lọc 5micron.
                                        </p>
                                    </div>
                                </div>
                                <footer></footer>
                            </article>
                        </div>
                        <div>
                            <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div>
                                    <header class="entry-content-header" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px rgb(225, 225, 225); font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"></header>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
            <div class="iconbox col-md-4 col-sm-4 col-xs-12">
                <div class="iconbox_content col-md-12 col-sm-12 col-xs-12">
                    <img class="m-top" src="~/assets/images/1502246095chat-luong.png" alt="Lõi OCB">
                    <h3>Lõi OCB</h3>
                    <div class="summary">
                        <div>
                            <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div>
                                    <div itemprop="text">
                                        <p>
                                            Than g&aacute;o dừa được hoạt h&oacute;a. Than hoạt t&iacute;nh c&oacute; t&iacute;nh c&oacute; cấu tr&uacute;c xốp rỗng. C&aacute;c vết rỗng - nứt vi mạch, đều c&oacute; t&iacute;nh hấp thụ rất mạnh.
                                        </p>
                                    </div>
                                </div>
                                <footer></footer>
                            </article>
                        </div>
                        <div>
                            <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div>
                                    <header class="entry-content-header" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px rgb(225, 225, 225); font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"></header>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
            <div class="iconbox col-md-4 col-sm-4 col-xs-12">
                <div class="iconbox_content col-md-12 col-sm-12 col-xs-12">
                    <img class="m-top" src="~/assets/images/1502246103cong-nghe.png" alt="Lõi CTO">
                    <h3>Lõi CTO</h3>
                    <div class="summary">
                        <div>
                            <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div>
                                    <div itemprop="text">
                                        <p>
                                            Để tăng hiệu quả hấp thụ tối đa của than hoạt t&iacute;nh, người ta nghiền than hoạt t&iacute;nh th&agrave;nh dạng bột nhỏ, sau đ&oacute; &eacute;p th&agrave;nh khối, nhằm l&agrave;m tăng diện t&iacute;ch bề mặt tiếp x&uacute;c với nước, do đ&oacute; l&agrave;m tăng hiệu quả xử l&yacute;. L&otilde;i than &eacute;p thường c&oacute; hiệu quả hơn so với l&otilde;i than dạng hạt.
                                        </p>
                                    </div>
                                </div>
                                <footer></footer>
                            </article>
                        </div>
                        <div>
                            <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div>
                                    <header class="entry-content-header" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px rgb(225, 225, 225); font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;"></header>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
            <div class="iconbox col-md-4 col-sm-4 col-xs-12">
                <div class="iconbox_content col-md-12 col-sm-12 col-xs-12">
                    <img class="m-top" src="~/assets/images/1502246110sang-tao.png" alt="Lõi T33">
                    <h3>Lõi T33</h3>
                    <div class="summary">
                        <p>
                            Đ&acirc;y l&agrave; l&otilde;i với than hoạt t&iacute;nh chất lượng cao nhất, nhằm bảo đảm tối đa chất lượng nước đầu ra, g&oacute;p phần n&acirc;ng PH, v&agrave; tạo cảm gi&aacute;c trong m&aacute;t khi uống.
                        </p>

                    </div>
                </div>
            </div>
            <div class="iconbox col-md-4 col-sm-4 col-xs-12">
                <div class="iconbox_content col-md-12 col-sm-12 col-xs-12">
                    <img class="m-top" src="~/assets/images/15085770101502246124ho-tro.png" alt="Màng R.O TORAY xuất xứ Nhật Bản">
                    <h3>Màng R.O TORAY xuất xứ Nhật Bản</h3>
                    <div class="summary">
                        <p>
                            K&iacute;ch thước: 8&rdquo; X 40&rdquo;&nbsp;Nguồn nước đầu ra loại bỏ 99% vi khẩn độc hại trong nước.&nbsp;Nước sau lọc kh&ocirc;ng chỉ sạch tinh khiết m&agrave; c&ograve;n được bổ sung th&ecirc;m c&aacute;c kho&aacute;ng chất cần thiết cho sức khỏe của con người.&nbsp;Hiệu suất: tr&ecirc;n 99%&nbsp;Tuổi thọ k&eacute;o d&agrave;i tr&ecirc;n 2-3 năm.
                        </p>

                    </div>
                </div>
            </div>
            <div class="iconbox col-md-4 col-sm-4 col-xs-12">
                <div class="iconbox_content col-md-12 col-sm-12 col-xs-12">
                    <img class="m-top" src="~/assets/images/1502246124ho-tro.png" alt="Quả đá khoáng">
                    <h3>Quả đá khoáng</h3>
                    <div class="summary">
                        <div>
                            <article itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div>
                                    <div itemprop="text">
                                        <p>
                                            l&otilde;i chứa c&aacute;c hạt gốm sinh học tự nhi&ecirc;n, chứa một lượng nhỏ c&aacute;c nguy&ecirc;n tố vi lượng Magie, Natri, Canxi, v&agrave; một số loại kho&aacute;ng chất thi&ecirc;n nhi&ecirc;n&hellip;
                                        </p>
                                    </div>
                                </div>
                                <footer></footer>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-area" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="heading">Máy Lọc Nước EcoJapan</h3>
                <div><img src="~/assets/images/heading4.png" alt="s" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/assets/images/pg2.jpg" alt="EcoJapan">
            </div>
            <div class="col-md-6 animated">
                <div class="about-content about3">
                    <h5 class="about-title2">
                        <span>EcoJapan</span> cho nước dùng của bạn tinh khiết hơn.

                    </h5>
                    <div class="about-text">
                        <p>Lõi lọc I.Galaxy.S8 của CÔNG TY CỔ PHẦN IGALAXY VIỆT NAM  được sản xuất trên dây chuyền công nghệ hiện đại. Các tiêu chuẩn chất lượng của lõi được kiểm soát một cách nghiêm ngặt trong suốt quá trình sản xuất.</p>
                        <ul>
                            <li>Có nguồn gốc xuất sứ rõ ràng, khách hàng có thể kiểm tra trực tiếp thông tin thông qua việc quét mã vạch dán trên lõi.</li>
                            <li>Đạt tiêu chuẩn ISO 9001:2015 do tổ chức GIC cấp.</li>
                            <li>
                                Mẫu nước sử dụng lõi lọc I.Galaxy.S8 khi chạy qua máy lọc nước I.GALAXY.S8 đạt tiêu chuẩn: QCVN 6 -
                                1/2010 BYT (Qui chuẩn quốc gia đối với nước khoáng thiên nhiên và nước uống đóng chai). Do QUATEST1 tổng cục tiêu chuẩn đo lường chất lượng cấp.
                            </li>
                        </ul>
                    </div>
                    <div class="price">Giá bán: <span>7.890.000 đồng</span></div>
                </div>
                <!-- SINGLE about button -->
                <div class="single-about-wrapper">
                    <div class="single-about-btn">
                        <a href="tel:0356048888">
                            <i class="fa fa-cart-plus"></i>
                            <span class="bigt">
                                Yêu cầu
                                <span class="about-inner-big">Tư vấn</span>
                            </span>
                        </a>
                    </div>
                </div>.
                <!-- SINGLE about button -->
                <div class="single-about-wrapper">
                    <div class="single-about-btn">
                        <a href="tel:0356048888">
                            <i class="fa fa-cart-plus"></i>
                            <span class="bigt">
                                Yêu cầu
                                <span class="about-inner-big">Đặt hàng</span>
                            </span>
                        </a>
                    </div>
                </div>.



            </div>

        </div>
    </div>
</div>