<div class="left col-xs-12 col-sm-3 col-md-3">
    <div class="bracum">
        Danh mục
    </div>
    <ul>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="http://igalaxy.vn/chinh-sach-bao-hanh-.news">Chính sách bảo hành </a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="http://igalaxy.vn/thong-tin-huu-ich.news">Thông tin hữu ích</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="http://igalaxy.vn/san-pham.news">Sản phẩm</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="http://igalaxy.vn/ve-igalaxy-s8.news">Về Igalaxy S8</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="http://igalaxy.vn/tin-tuc-su-kien.news">Tin tức & Sự kiện</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="http://igalaxy.vn/bao-chi-noi-ve-chung-toi.news">Báo chí nói về chúng tôi</a>
        </li>
    </ul>
</div>