<div class="left col-xs-12 col-sm-3 col-md-3">
    <div class="bracum">
        Danh mục
    </div>
    <ul>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="/bai-viet/ve-igalaxy-s8-1/" title="Về EcoJapan">Về EcoJapan</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="/bai-viet/san-pham-2/" title="Sản phẩm">Sản phẩm</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="/bai-viet/ket-qua-thu-nghiem-6/" title="Kết quả thử nghiệm">Kết quả thử nghiệm</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="/" title="Tin tức & Sự kiện">Tin tức & Sự kiện</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="/bai-viet/thong-tin-huu-ich-3/" title="Thông tin hữu ích">Thông tin hữu ích</a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="/bai-viet/chinh-sach-bao-hanh-4/" title="Chính sách bảo hành ">Chính sách bảo hành </a>
        </li>
        <li>
            <div class="fa fa-angle-right fa-lg" aria-hidden="true"></div>
            <a href="/bai-viet/lien-he-5">Liên hệ</a>
        </li>
    </ul>
</div>