<div id="footer">
    <div class="container">
        <h3>CÔNG TY CỔ PHẦN XNK SYSTEM WATER ECOJAPAN VIỆT NAM</h3>
        <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            Số 479 đường Quang Trung, Phường Phú La, Quận Hà Đông, Hà Nội
        </p>
        <p>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            Hotline: 0356048888
        </p>
        <p>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Email: 
        </p>
        <p>
            <i class="fa fa-internet-explorer" aria-hidden="true"></i>
            Website: http://ecojapan.vn
        </p>

    </div>

</div>