<div id="header">
    <div class="header">
        <div class="container">

            <div class="logo col-xs-7 col-sm-3 col-md-3 p0">
                <a href="http://ecojapan.vn/" title="Mộc Trĩ Vương"><img src="~/assets/images/logo.png" alt="EcoJapan" border="0" /></a>
            </div>
            <div class="menumobi hidden-md hidden-lg">
                <div class="hiddenbtn">DANH MỤC<i class="fa fa-list fa-lg"></i></div>
                <ul>
                    <li> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="http://ecojapan.vn/">Trang chủ</a></li>
                    <li> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="http://ecojapan.vn/bai-viet/ve-igalaxy-s8/" title="Về EcoJapan">Về EcoJapan</a></li>
                    <li> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="http://ecojapan.vn/bai-viet/san-pham/" title="Sản phẩm">Sản phẩm</a></li>
                    <li> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="http://ecojapan.vn/bai-viet/bao-chi-noi-ve-chung-toi/" title="Báo chí nói về chúng tôi">Báo chí nói về chúng tôi</a></li>
                    <li> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="http://ecojapan.vn/bai-viet/tin-tuc-su-kien/" title="Tin tức & Sự kiện">Tin tức & Sự kiện</a></li>
                    <li> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="http://ecojapan.vn/bai-viet/thong-tin-huu-ich/" title="Thông tin hữu ích">Thông tin hữu ích</a></li>
                    <li> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="http://ecojapan.vn/bai-viet/chinh-sach-bao-hanh/" title="Chính sách bảo hành ">Chính sách bảo hành </a></li>
                    <li> <i class="fa fa-angle-right" aria-hidden="true"></i><a href="http://ecojapan.vn/bai-viet/lien-he.html">Liên hệ</a></li>
                </ul>
            </div>
            <div class="slogan col-md-5 col-sm-5 hidden-xs">
                <h2>CÔNG TY CỔ PHẦN XNK SYSTEM WATER ECOJAPAN VIỆT NAM</h2>
            </div>
            <div class="top-area-container col-md-4 col-sm-4 col-xs-12">
                <div class="button-order">
                    <a href="#">Đặt hàng</a>
                </div>
                <div class="phone-container">
                    <span class="desc-phone">Tổng đài tư vấn</span>
                    <span class="number-phone">0356048888</span>
                </div>
                <div class="icon-phone"><img src="~/assets/images/phone.png" alt="hotline"></div>
            </div>
        </div>
    </div>
    <div class="divmenu">
        <div class="container">
            <div class="menu hidden-xs col-sm-12 col-md-12 p0">
                <ul>
                    <li><a href="http://ecojapan.vn/">Trang chủ</a></li>

                    <li>
                        <a href="http://ecojapan.vn/ve-igalaxy-s8/" title="Về EcoJapan">Về EcoJapan</a>
                    </li>

                    <li>
                        <a href="http://ecojapan.vn/san-pham/" title="Sản phẩm">Sản phẩm</a>
                    </li>

                    <li>
                        <a href="http://ecojapan.vn/bao-chi-noi-ve-chung-toi/" title="Báo chí nói về chúng tôi">Báo chí nói về chúng tôi</a>
                    </li>

                    <li>
                        <a href="http://ecojapan.vn/tin-tuc-su-kien/" title="Tin tức & Sự kiện">Tin tức & Sự kiện</a>
                    </li>

                    <li>
                        <a href="http://ecojapan.vn/thong-tin-huu-ich/" title="Thông tin hữu ích">Thông tin hữu ích</a>
                    </li>

                    <li>
                        <a href="http://ecojapan.vn/chinh-sach-bao-hanh-/" title="Chính sách bảo hành ">Chính sách bảo hành </a>
                    </li>
                    <li><a href="http://ecojapan.vn/lien-he">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js//jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>