@page
@model CMS.Website.Areas.Admin.Pages.Account.EditModel

@{
    ViewData["Title"] = "Chỉnh sửa thông tin người dùng";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <!-- Page-header start -->
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <div class="d-inline">
                            <h4>Chỉnh sửa thông tin thành viên</h4>
                            <span>@Model.UserName</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page-header end -->
        <!-- Page body start -->
        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Basic Form Inputs card start -->
                    <div class="card">
                        <div class="card-block">
                            <h4 class="sub-title">Thông tin tài khoản</h4>
                            <form method="post" autocomplete="off">
                                <input type="hidden" class="form-control" asp-for="UserName">
                                <input type="hidden" class="form-control" asp-for="CurrentAspNetProfile.UserId">
                                <input type="hidden" class="form-control" asp-for="CurrentAspNetProfile.Id">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" asp-for="CurrentAspNetProfile.Email" placeholder="Nhập email tài khoản">
                                        <span asp-validation-for="CurrentAspNetProfile.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Số điện thoại</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control mob_no" data-mask="9999-999-999" asp-for="CurrentAspNetProfile.Phone" placeholder="Nhập số điện thoại">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Họ tên</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" asp-for="CurrentAspNetProfile.FullName" placeholder="Nhập Họ tên">
                                        <span asp-validation-for="CurrentAspNetProfile.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Ngày sinh</label>
                                    <div class="col-sm-10">
                                        <input type="date" id="#dropper-animation" class="form-control" asp-for="CurrentAspNetProfile.BirthDate" placeholder="Nhập ngày sinh">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Giới tính </label>
                                    <div class="col-sm-10">
                                        <div class="form-radio">
                                            <div class="radio radio-inline">
                                                <label>
                                                    <input type="radio" name="radio" asp-for="CurrentAspNetProfile.Gender" value="0" checked="checked">
                                                    <i class="helper"></i>Nam
                                                </label>
                                            </div>
                                            <div class="radio radio-inline">
                                                <label>
                                                    <input type="radio" name="radio" asp-for="CurrentAspNetProfile.Gender" value="1">
                                                    <i class="helper"></i>Nữ
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Địa chỉ</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" asp-for="CurrentAspNetProfile.Address" placeholder="Nhập địa chỉ">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Quyền hạn</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" asp-for="CurrentAspNetUserRoles.RoleId" asp-items="Model.BindingListRole">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row" style="justify-content: center">
                                    <button type="submit" class="btn btn-grd-primary ">Cập nhật</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- Basic Form Inputs card end -->
                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>